﻿@model ChallengeAmericaVirtual.Models.Users
@{
    ViewBag.SiteName = ViewBag.SiteName + "- Registro ";
}


@if (!this.Request.IsAuthenticated)
{
    <h2>Registro</h2>

    using (Html.BeginForm("DoLogin", "Users", FormMethod.Post))
    {
            @Html.ValidationSummary(true)
        <fieldset  role="form">
            <legend>Por favor ingrese con sus datos:</legend>
            
            <div class="form-group">
                <input id="UserName" type="text" name="UserName" data-val-required="El campo Usuario es obligatorio."  data-val="true" placeholder="Usuario" class="form-control" > 
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
            <div class="form-group">
                <input type="Password" name="password" id="Password" data-val-required="El campo contraseña es obligatorio." data-val="true" placeholder="Contraseña" class="form-control">
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            
            <input type="submit" value="Ingresar" class=" btn btn-default pull-left" />
            <input type="hidden" name="RememberMe" value="false" />
            <input type="hidden" name="ReturnUrl" value="/tienda/servicios/servicio-dev-webapp-ecommerce" />
        </fieldset>
    }


}else
{
    <h2>Hola @ViewBag.CurrentUser.FirstName</h2>
}
