@model List<ChallengeAmericaVirtual.Models.Items>

@if(Model.Count > 0)
{
    <label for="">Opciones</label>
    <select name="itemId" id="">
    @foreach(var item in Model)
    {

        <option value="@(item.Id)">@item.Name</option>
    }
    </select>

}