@model ChallengeAmericaVirtual.Models.Items

<h2>Nombre: @Model.Name</h2>
<h3>Sku: @Model.Code</h3>
<h4>Descripcion Corta: @Model.ShortDescription</h4>
<h4>Descripcion: @Model.Description</h4>
<h4>Precio: @Model.OfferPrice</h4>
<h4>Precio De Lista: @Model.DummyPrice</h4>


@using (Html.BeginForm("Checkout", "Items", FormMethod.Get))
{
    string options = "";
    try{
        options = Html.Action("GetOptions","Items" , new{ ParentId = Model.Id , view =""}).ToString().Trim();
    }catch{}
    if(!String.IsNullOrEmpty(options))
    {
        <text>@Html.Raw(options)</text>
    }
    else
    {
        <input type="hidden" name="itemId" value="@(Model.Id)">
    }
    
    <label for="">Cantidad</label>
    <input type="text" name="qty" value="1">
    <input type="submit" value="Comprar">
}
@{Html.RenderAction("Images","Items" , new{ dataImg = Model.Pictures });}